/* Positioning section about my projects in the certain location on the page*/
.about{
    display: block;
    width: 45%;
    height: 25%;
    line-height: 1.3;
    position: fixed;
    top: 25%;
    left: 30%; 
}